/* Slider */
.slider__body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 100%;
    overflow: hidden;
}

.slides{
    width: 400%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    transition: 2s;
}

/* manual slide nav */
.nav__manual{
    position: absolute;
    width: 80rem;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    left: 20%;
}

.manual__btn{
    border: 2px solid #dda823;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.manual__btn:not(:last-child){
    margin-right: 40px;
}

.manual__btn:hover{
    background: #dda823;
}

#radio1:checked~ .first{
    margin-left: 0;
}

#radio2:checked~ .first{
    margin-left: -25%;
}

#radio3:checked~ .first{
    margin-left: -50%;
}

#radio4:checked~ .first{
    margin-left: -75%;
}

/* Shop now button */
button{
    padding: 0.5rem 1rem;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background: #dda823;
    color: white;
    cursor: pointer;
}

/* Slider images */
#first, #second, #third, #fourth{
    height: 60vh;
    width: 100%;
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#first{
    background-image: url(./clothes/clothes1.jpg);
    background-size:contain;
    background-position: top 60% right;
}

#second{
    background-image: url(./shoes/sneaker2.jpg);
    color: white;
    background-size:contain;
    background-position:center left;
}

#third{
    background-image: url(./clothes/clothes2.jpg);
    background-size:contain;
    background-position: center;
}

#fourth{
    background-image: url(./shoes/leather2.jpg);
    color: rgb(241, 205, 139);
    background-size:contain;
    background-position: center;
}

.first > h1{
    font-size: 2rem;
}

@media (min-width:760px) {
    #first, #second, #third, #fourth{
        height: 40vh;
        padding: 0 15rem;
    }

    .nav__manual{
        left: 0%;
    }
}

@media (max-width:480px) {
    #first, #second, #third, #fourth{
        height: 40vh;
        padding: 0 3rem;
    } 

    .nav__manual{
    width: 300px;
    }
}